@use '../../styles/variables.scss';

.hamburger{
    position: absolute;
    overflow-y: scroll;
    height: calc(100vh - 56px);
    width: 250px;
    background: #212121;
    padding: 20px auto;
    ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        list-style-type: none;
        padding: 0;
        margin: 0;
        
        h4 {
            margin-left: 20px;
            margin-bottom: 10px;
            color: #888;
        }
        
        li {
            display: flex;
            align-items: center;
            gap:20px;
            width: calc(100% - 50px);
            padding: 8px 23px;
            cursor: pointer;
            transition: all .2s ease;
            &.active, &:hover{
                background-color: $color-secondary;
            }
            
            p {
                line-height: 20px;
                font-size: 14px;
            }

            .MuiAvatar-root {
                height: 24px;
                width: 24px;
            }
        }
    }
    .hamburger__splitter{
        display: block;
        min-height: 3px;
        width: calc(100% - 20px);
        margin: 20px 0;
        background: $color-secondary;
    }
    .hamburger__footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        padding-left: 23px;
        padding-right: 10px;
        margin-bottom: 40px;
        a {
            font-size: 13px;
            cursor: pointer;
            color: #888;
            &:hover {
                color: white;
            }
        }
        
    }
}