@import './variables.scss';
@import '../components/Header/header';
@import '../components/Hamburger/hamburger';


* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
}

.app {
    background: $color-primary;
    height: 100vh;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
 }
  
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 80px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}